#import <Foundation/Foundation.h>
#import "${prefix}Base${suffix}.h"

@interface ${prefix}Response${suffix} : ${prefix}Base${suffix}

@property(nonatomic,strong) NSNumber *numCode;
@property(nonatomic,copy)   NSString *strMsg;

@end
