#import "${prefix}Base${suffix}.h"

@implementation ${prefix}Base${suffix}

- (id)initWithJson:(NSDictionary *)aDicJson {
    self = [super init];
    if(self) {
        
    }
    return self;
}

- (NSData *)jsonData {
    return [NSJSONSerialization dataWithJSONObject:[self dictionary] options:NSJSONWritingPrettyPrinted error:nil];
}

- (NSMutableDictionary *)dictionary {
    return [NSMutableDictionary dictionary];
}

- (NSString *)description {
    return @"";
}

- (void)encodeWithCoder:(NSCoder *)aCoder {
}


- (id)initWithCoder:(NSCoder *)aDecoder {
    self = [super init];
    if(self) {
        
    }
    return self;
}

@end
