#import "${prefix}Response${suffix}.h"

@implementation ${prefix}Response${suffix}

- (id)initWithJson:(NSDictionary *)aDicJson {
    self = [super initWithJson:aDicJson];
    if(self && aDicJson) {
        _strMsg  = [aDicJson objectForKey:@"msg"];
        _numCode  = [aDicJson objectForKey:@"code"];
    }
    return self;
}

- (void)encodeWithCoder:(NSCoder *)aCoder {
    [super encodeWithCoder:aCoder];
    [aCoder encodeObject:self.strMsg forKey:@"cache_msg"];
    [aCoder encodeObject:self.numCode forKey:@"cache_code"];
    
}


- (id)initWithCoder:(NSCoder *)aDecoder {
    self = [super initWithCoder:aDecoder];
    if(self) {
        _strMsg = [aDecoder decodeObjectForKey:@"cache_msg"];
        _numCode = [aDecoder decodeObjectForKey:@"cache_code"];
    }
    return self;
}

- (NSMutableDictionary *)dictionary {
    NSMutableDictionary *mDic = [super dictionary];
    if (self.strMsg) {
        [mDic setObject:self.strMsg forKey:@"msg"];
    }
    if (self.numCode) {
        [mDic setObject:self.numCode forKey:@"code"];
    }
    return mDic;
}

-(NSString *)description {
    NSString *result = [super description];
    result = [result stringByAppendingFormat:@"numCode : %@\n",self.numCode];
    result = [result stringByAppendingFormat:@"strMsg : %@\n",self.strMsg];
    return result;
}

@end
