#import "${prefix}Response${suffix}.h"

@implementation ${prefix}Response${suffix}

- (id)initWithJson:(NSDictionary *)aDicJson {
    self = [super initWithJson:aDicJson];
    if(self && aDicJson) {
        _strMessage  = [aDicJson objectForKey:@"message"];
        _numCode  = [aDicJson objectForKey:@"code"];
    }
    return self;
}

- (void)encodeWithCoder:(NSCoder *)aCoder {
    [super encodeWithCoder:aCoder];
    [aCoder encodeObject:self.strMessage forKey:@"cache_message"];
    [aCoder encodeObject:self.numCode forKey:@"cache_code"];
    
}


- (id)initWithCoder:(NSCoder *)aDecoder {
    self = [super initWithCoder:aDecoder];
    if(self) {
        _strMessage = [aDecoder decodeObjectForKey:@"cache_message"];
        _numCode = [aDecoder decodeObjectForKey:@"cache_code"];
    }
    return self;
}

- (NSMutableDictionary *)dictionary {
    NSMutableDictionary *mDic = [super dictionary];
    if (self.strMessage) {
        [mDic setObject:self.strMessage forKey:@"message"];
    }
    if (self.numCode) {
        [mDic setObject:self.numCode forKey:@"code"];
    }
    return mDic;
}

-(NSString *)description {
    NSString *result = [super description];
    result = [result stringByAppendingFormat:@"numCode : %@\n",self.numCode];
    result = [result stringByAppendingFormat:@"strMessage : %@\n",self.strMessage];
    return result;
}

@end
