#import "${prefix}${entity.className}${suffix}.h"

#foreach(${item} in $!{entity.importClassName})
#import "${prefix}${item}${suffix}.h"
#end

@implementation ${prefix}${entity.className}${suffix}

- (id)initWithJson:(NSDictionary *)aDicJson {
    self = [super initWithJson:aDicJson];
#if(${entity.properties})
    if(self && aDicJson) {
    #foreach(${property} in ${entity.properties})
        #set($codeName = ${property.name.substring(0,1).toUpperCase()}) #set($codeName = $codeName+${property.name.substring(1)})
        #if(${property.type} == "String"||${property.type} == "Date"||${property.type} == "Timestamp")
    _str${codeName} = [aDicJson objectForKey:@"${property.name}"];
        #elseif(${property.type} == "Byte"||${property.type} == "byte"||${property.type} == "Boolean"||${property.type} == "boolean"||${property.type} == "double"||${property.type} == "Double"||${property.type} == "short"||${property.type} == "Short"||${property.type} == "int"||${property.type} == "Integer"||${property.type} == "long"||${property.type} == "Long"||${property.type} == "float"||${property.type} == "Float")
    _num${codeName} = [aDicJson objectForKey:@"${property.name}"];
        #elseif(${property.type} == "List" || ${property.type} == "Set"||${property.type} == "double[]"||${property.type} == "Double[]"||${property.type} == "short[]"||${property.type} == "Short[]"||${property.type} == "int[]"||${property.type} == "Integer[]"||${property.type} == "long[]"||${property.type} == "Long[]"||${property.type} == "float[]"||${property.type} == "Float[]"||${property.type} == "byte[]"||${property.type} == "Byte[]"||${property.type} == "Boolean[]"||${property.type} == "boolean[]")
    _mArray${codeName} = [NSMutableArray array];
    if ([[aDicJson objectForKey:@"${property.name}"] isKindOfClass:[NSArray class]]) {
        #if(!${property.genericsType} || ${property.genericsType} == "Object"|| ${property.genericsType} == "Boolean"||${property.genericsType} == "boolean"||${property.genericsType} == "double"||${property.genericsType} == "Double"||${property.genericsType} == "short"||${property.genericsType} == "Short"||${property.genericsType}=="int"||${property.genericsType}=="Integer"||${property.genericsType} == "long"||${property.genericsType} == "Long"||${property.genericsType}=="String"||${property.genericsType} == "float"||${property.genericsType} == "Float")
        for(id item in [aDicJson objectForKey:@"${property.name}"]){
            [_mArray${codeName} addObject:item];
        }
        #else
        for(NSDictionary *item in [aDicJson objectForKey:@"${property.name}"]) {
            [_mArray${codeName} addObject:[[${prefix}${property.genericsType}${suffix} alloc] initWithJson:item]];
        }
        #end
    }
        #elseif(${property.type} == "Map")
            #if(!${property.genericsType} || ${property.genericsType} == "Object"|| ${property.genericsType} == "Byte"||${property.genericsType} == "byte"||${property.genericsType} == "Boolean"||${property.genericsType} == "boolean"||${property.genericsType} == "double"||${property.genericsType} == "Double"||${property.genericsType} == "short"||${property.genericsType} == "Short"||${property.genericsType}=="int"||${property.genericsType}=="Integer"||${property.genericsType} == "long"||${property.genericsType} == "Long"||${property.genericsType}=="String"||${property.genericsType} == "float"||${property.genericsType} == "Float")
        _mDic${codeName} = [aDicJson objectForKey:@"${property.name}"];
            #else
        NSDictionary *tmpMDic${codeName}= [aDicJson objectForKey:@"${property.name}"];
                _mDic${codeName} = [[NSMutableDictionary alloc]init];
                for (id<NSCopying> key in [tmpMDic${codeName} allKeys]) {
                    [_mDic${codeName} setObject:[[${prefix}${property.genericsType}${suffix} alloc] initWithJson:tmpMDic${codeName}[key]] forKey:key];
                }
            #end
        #else
    _${property.name}${suffix} = [[${prefix}${property.type}${suffix} alloc] initWithJson:[aDicJson objectForKey:@"${property.name}"]];
        #end
    #end
}
#end
    return self;
}

- (id)initWithCoder:(NSCoder *)aDecoder {
    self = [super initWithCoder:aDecoder];
#if(${entity.properties})
    if(self) {
    #foreach(${property} in ${entity.properties})
        #set($codeName = ${property.name.substring(0,1).toUpperCase()}) #set($codeName = $codeName+${property.name.substring(1)})
        #if(${property.type} == "String"||${property.type} == "Date"||${property.type} == "Timestamp")
            _str${codeName} = [aDecoder decodeObjectForKey:@"cache_${property.name}"];
        #elseif(${property.type} == "Byte"||${property.type} == "byte"||${property.type} == "Boolean"||${property.type} == "boolean"||${property.type} == "double"||${property.type} == "Double"||${property.type} == "short"||${property.type} == "Short"||${property.type} == "int"||${property.type} == "Integer"||${property.type} == "long"||${property.type} == "Long"||${property.type} == "float"||${property.type} == "Float")
            _num${codeName} = [aDecoder decodeObjectForKey:@"cache_${property.name}"];
        #elseif(${property.type} == "List" || ${property.type} == "Set"||${property.type} == "byte[]"||${property.type} == "Byte[]"||${property.type} == "double[]"||${property.type} == "Double[]"||${property.type} == "short[]"||${property.type} == "Short[]"||${property.type} == "int[]"||${property.type} == "Integer[]"||${property.type} == "long[]"||${property.type} == "Long[]"||${property.type} == "float[]"||${property.type} == "Float[]"||${property.type} == "Boolean[]"||${property.type} == "boolean[]")
            _mArray${codeName} = [aDecoder decodeObjectForKey:@"cache_${property.name}"];
        #elseif(${property.type} == "Map")
            _mDic${codeName} = [aDecoder decodeObjectForKey:@"cache_${property.name}"];
        #else
            _${property.name}${suffix} = [aDecoder decodeObjectForKey:@"cache_${property.name}"];
        #end
    #end
    }
#end
    return self;
}

- (NSMutableDictionary *)dictionary {
    NSMutableDictionary *mDic = [super dictionary];
#foreach(${property} in ${entity.properties})
    #set($codeName = ${property.name.substring(0,1).toUpperCase()}) #set($codeName = $codeName+${property.name.substring(1)})
    #if(${property.type} == "String"||${property.type} == "Date"||${property.type} == "Timestamp")
    if (self.str${codeName}) {
        [mDic setObject:self.str${codeName} forKey:@"${property.name}"];
    }
    #elseif(${property.type} == "Byte"||${property.type} == "byte"||${property.type} == "Boolean"||${property.type} == "boolean"||${property.type} == "double" || ${property.type} == "Double" || ${property.type} == "short" || ${property.type} == "Short" || ${property.type} == "int" || ${property.type} == "Integer"||${property.type} == "long"||${property.type} == "Long"||${property.type} == "float"||${property.type} == "Float")
    if (self.num${codeName}) {
        [mDic setObject:self.num${codeName} forKey:@"${property.name}"];
    }
    #elseif(${property.type} == "List" || ${property.type} == "Set"||${property.type} == "byte[]"||${property.type} == "Byte[]"||${property.type} == "double[]"||${property.type} == "Double[]"||${property.type} == "short[]"||${property.type} == "Short[]"||${property.type} == "int[]"||${property.type} == "Integer[]"||${property.type} == "long[]"||${property.type} == "Long[]"||${property.type} == "float[]"||${property.type} == "Float[]"||${property.type} == "Boolean[]"||${property.type} == "boolean[]")

    #if(!${property.genericsType}  || ${property.genericsType} == "Object"|| ${property.genericsType} == "Byte"||${property.genericsType} == "byte"||${property.genericsType}=="int"||${property.genericsType}=="Integer"||${property.genericsType} == "long"||${property.genericsType} == "Long"||${property.genericsType} == "double"||${property.genericsType} == "Double"||${property.genericsType} == "short"||${property.genericsType} == "Short"||${property.genericsType}=="String"||${property.genericsType} == "float"||${property.genericsType} == "Float")
    if (self.mArray${codeName}) {
        NSMutableArray *mArr${codeName} = [NSMutableArray array];
        for(id item in self.mArray${codeName}){
            [mArr${codeName} addObject:item];
        }
        [mDic setObject:mArr${codeName} forKey:@"${property.name}"];
    }
    #else
    if (self.mArray${codeName}) {
        NSMutableArray *mArr${codeName} = [NSMutableArray array];
        for(${prefix}${property.genericsType}${suffix} *vo in self.mArray${codeName}){
            [mArr${codeName} addObject:[vo dictionary]];
        }
        [mDic setObject:mArr${codeName} forKey:@"${property.name}"];
    }
    #end

    #elseif(${property.type} == "Map")
        #if(!${property.genericsType}  || ${property.genericsType} == "Object"|| ${property.genericsType} == "Byte"||${property.genericsType} == "byte"||${property.genericsType} == "Boolean"||${property.genericsType} == "boolean"||${property.genericsType} == "double"||${property.genericsType} == "Double"||${property.genericsType} == "short"||${property.genericsType} == "Short"||${property.genericsType}=="int"||${property.genericsType}=="Integer"||${property.genericsType} == "long"||${property.genericsType} == "Long"||${property.genericsType}=="String"||${property.genericsType} == "float"||${property.genericsType} == "Float")
        if (self.mDic${codeName}) {
            [mDic setObject:self.mDic${codeName} forKey:@"${property.name}"];
        }
        #else
        if (self.mDic${codeName}) {
            NSMutableDictionary *tmpMDic${codeName}= [[NSMutableDictionary alloc]init];
            for (id<NSCopying> key in [self.mDic${codeName} allKeys]) {
                [tmpMDic${codeName} setObject:[self.mDic${codeName}[key] dictionary] forKey:key];
            }
            [mDic setObject:tmpMDic${codeName} forKey:@"${property.name}"];
        }
        #end

    #else
    if (self.${property.name}${suffix}) {
        [mDic setObject:[self.${property.name}${suffix} dictionary] forKey:@"${property.name}"];
    }
    #end
#end
    return mDic;
}

- (void)encodeWithCoder:(NSCoder *)aCoder {
    [super encodeWithCoder:aCoder];
#foreach(${property} in ${entity.properties})
    #set($codeName = ${property.name.substring(0,1).toUpperCase()}) #set($codeName = $codeName+${property.name.substring(1)})
    #if(${property.type} == "String"||${property.type} == "Date"||${property.type} == "Timestamp")
    [aCoder encodeObject:self.str${codeName} forKey:@"cache_${property.name}"];
    #elseif(${property.type} == "Byte"||${property.type} == "byte"||${property.type} == "Boolean"||${property.type} == "boolean"||${property.type} == "double"||${property.type} == "Double"||${property.type} == "short"||${property.type} == "Short"||${property.type} == "int"||${property.type} == "Integer"||${property.type} == "long"||${property.type} == "Long"||${property.type} == "float"||${property.type} == "Float")
    [aCoder encodeObject:self.num${codeName} forKey:@"cache_${property.name}"];
    #elseif(${property.type} == "List" || ${property.type} == "Set"||${property.type} == "byte[]"||${property.type} == "Byte[]"||${property.type} == "double[]"||${property.type} == "Double[]"||${property.type} == "short[]"||${property.type} == "Short[]"||${property.type} == "int[]"||${property.type} == "Integer[]"||${property.type} == "long[]"||${property.type} == "Long[]"||${property.type} == "float[]"||${property.type} == "Float[]"||${property.type} == "Boolean[]"||${property.type} == "boolean[]")
    [aCoder encodeObject:self.mArray${codeName} forKey:@"cache_${property.name}"];
    #elseif(${property.type} == "Map")
    [aCoder encodeObject:self.mDic${codeName} forKey:@"cache_${property.name}"];
    #else
    [aCoder encodeObject:self.${property.name}${suffix} forKey:@"cache_${property.name}"];
    #end
#end
}

- (NSString *)description {
    NSString *result = [super description];
#foreach(${property} in ${entity.properties})
    #set($codeName = ${property.name.substring(0,1).toUpperCase()}) #set($codeName = $codeName+${property.name.substring(1)})
    #if(${property.type} == "String"||${property.type} == "Date"||${property.type} == "Timestamp")
    result = [result stringByAppendingFormat:@"${property.name} : %@\n",self.str${codeName}];
    #elseif(${property.type} == "Byte"||${property.type} == "byte"||${property.type} == "Boolean"||${property.type} == "boolean"||${property.type} == "double"||${property.type} == "Double"||${property.type} == "short"||${property.type} == "Short"||${property.type} == "int"||${property.type} == "Integer"||${property.type} == "long"||${property.type} == "Long"||${property.type} == "float"||${property.type} == "Float")
    result = [result stringByAppendingFormat:@"${property.name} : %@\n",self.num${codeName}];
    #elseif(${property.type} == "List" || ${property.type} == "Set"||${property.type} == "byte[]"||${property.type} == "Byte[]"||${property.type} == "double[]"||${property.type} == "Double[]"||${property.type} == "short[]"||${property.type} == "Short[]"||${property.type} == "int[]"||${property.type} == "Integer[]"||${property.type} == "long[]"||${property.type} == "Long[]"||${property.type} == "float[]"||${property.type} == "Float[]"||${property.type} == "Boolean[]"||${property.type} == "boolean[]")
    result = [result stringByAppendingFormat:@"${property.name} : %@\n",self.mArray${codeName}];
    #elseif(${property.type} == "Map")
    result = [result stringByAppendingFormat:@"${property.name} : %@\n",self.mDic${codeName}];
    #else
    result = [result stringByAppendingFormat:@"${property.name} : %@\n",self.${property.name}${suffix}];
    #end
#end
    return result;
}

@end